@import "../App.scss";
@media (max-width: 900px) {

    .emptyList_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 6em;

        svg {
            font-size: 70px;
            color: gray;
        }
        h3 {
            color: gray;
            font-size: 17px;
            font-weight: 400;
        }

        button {
            margin-top: 3em;
            background: none;
            color: $colorPrincipal;
            border: 1px solid $colorPrincipal;
            border-radius: 6px;
            font-size: 18px;
            font-weight: 500;
            padding: 7px 12px;
            box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.418);
        }
    }

    .Toastify__toast-container {
        width: 100%;
        margin: 0 auto!important;

        .Toastify__toast {
            width: 90%;
            height: auto;
            min-height: auto;
            background: white;
            color: $colorPrincipal;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.20);
            margin: 0 auto;
            margin-bottom: 1.3em;
            padding: 10px;
            
            .Toastify__toast-body {
                font-size: 14px;
                font-weight: 600;
            }
            .Toastify__close-button {
                display: none;
            }
        }
    }    

    .animated.fadeIn {
        width: 100%;
    }
}