@import "../App.scss";

@media (max-width: 900px) {
    .collapse-btn{
        position: fixed!important;
        top: 87%;
        left: 3%;
        border: none;
        background: $colorPrincipal;
        padding: 16px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.15);
        opacity: 0;
        transition: .4s;
        transform: translateX(-7em);
        img {
            width: 28px;
            position: relative;
            top: 2px;
        }
    }
    .active {
        transform: translateX(0);
        opacity: 1;
        transition: .4s;
    }
    .chakra-collapse{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .css-wr6yvz{
            padding: 0;
            padding-bottom: 16px;
            margin: 0 8px 0px 8px;
            display: grid;
            grid-template-columns: repeat(2, 50%);

            .categorie_container {
                display: flex;
                align-items: center;
                background: white;
                padding: 6px;
                margin: 8px;
                border-radius: 0 15px 15px 15px;

                img {
                    margin-right: 8px;
                    margin-left: 4px;
                    max-width: 32px;
                }
                h3 {
                    color: $colorPrincipal;
                    font-size: 17px;
                    font-weight: 400;
                }
            }
        } 
    }
  
    .divider {
        height: 22px;
        width: 1px;
        background: rgba(0, 0, 0, 0.178);
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: auto;
        border-style: none;
        border-width: 0;
    }

    .carousel-container {
        margin: 16px 0px 8px 0px;
        &:hover {
            overflow: hidden;
        }
        .carousel-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img-container {
                background: $blanco;
                padding: 8px;
                border-radius: 0 15px 15px 15px;
                
                img {
                    width: 64px;
                    height: 64px;
                }
            }
            
            p {
                font-size: 14px;
                font-weight: 500;
                margin-top: 8px;
                color: $colorPrincipal;
            }
        }
    }

    .categoryFilter_container {
        display: flex;
        flex-direction: column;
        margin: 24px 0;
        .title_container {
            margin: 0 3.5%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: $colorPrincipal;
                font-size: 17px;
                font-weight: 800;
            }
            img {
                max-width: 20px;
                transition: .3s;
            }
            .rotate {
                transition: .3s;
                transform: rotate(180deg);
            }
        }

        .categoryButton_container {
            width: 100%;
            display: grid!important;
            grid-template-columns: repeat(5, 21%);
            padding: 0 3.5%;
        }
    }
    .catButton_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .catImg_container {
            background: $blanco;
            padding: 8px;
            border-radius: 0 15px 15px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 40px;
            }
        }
        h3{
            font-size: 13px;
            font-weight: 400;
            margin-top: 8px;
            color: $colorPrincipal;
        }
        .closeCategory_btn {
            background-color: $colorPrincipal;
            border-radius: 100%;

            padding: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 10px;
            left: 27px;
            transition: all .3s;
            opacity: 0;
            img {
                max-width: 9px;
            }
        }
    }
    .catButton_container-active {
        .closeCategory_btn {
            transition: all .3s;
            opacity: 1;
        }
    }
}