@import "../App.scss";

@media (max-width: 900px) {

    .products_title {
        color: $colorPrincipal;
        font-size: 17px;
        font-weight: 800;
        margin: 0 3%;
        padding-top: 16px;
        padding-bottom: 8px;
        
    }

    .products_container {
        margin: 0 3%;
        margin-bottom: 1.5em;
        display: grid;
        grid-template-columns: repeat(3, 31%);
        justify-content: space-between;
        grid-row-gap: 12px;
    }

    .product-card__container {
        height: 140px;
        width: 100%;
        background-color: $blanco;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        padding: 8px;
        opacity: 1;
        transition: .2s;
        border: none;
        &:disabled {
            pointer-events: none;
            opacity: 0.4;
        }
    
        .btns-card__container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            .btn-addProduct {
                background: none;
                border: none;
            }
        }
        .cardImg_container {
            width: 64px;
            height: 64px;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                
            }
        }
        @supports(object-fit: cover){
            .cardImg_container img{
              height: 100%;
              object-fit: cover;
              object-position: center center;
            }
        }

        .card-product__name {
            color: $colorPrincipal;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            line-height: 1.2;
        }
        
    }

}