@import "../App.scss";

@media (max-width: 900px) {

    .products_title {
        color: $colorPrincipal;
        font-size: 17px;
        font-weight: 800;
        margin: 0 16px 3%;
    }

    .products_container {
        
        margin: 0 3%;
        display: grid;
        grid-template-columns: repeat(3, 31%);
        gap: 3% 3%;
    }

    .product-card__container {
        background-color: $blanco;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        padding: 8px;
    
        .btns-card__container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .btn-addProduct {
                background: none;
                border: none;
            }
        }
        .cardImg_container {
            width: 64px;
            height: 64px;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                
            }
        }
        @supports(object-fit: cover){
            .cardImg_container img{
              height: 100%;
              object-fit: cover;
              object-position: center center;
            }
        }

        .card-product__name {
            color: $colorPrincipal;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 8px;
        }
        
    }

    .Toastify__toast {
        background-color: #f5f5f5f3!important;
        width: 85%;
        margin: auto;
        bottom: 1.5em;
        border: 1px solid $gris;
        border-radius: 20px!important;
        min-height: 0!important;
        max-height: 0;
        height: 52px!important;
        box-shadow: none!important;

        .Toastify__close-button {
            display: none;
        }

        .toast_msj {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-size: 18px;
                color: $colorPrincipal;
                font-weight: normal;
                span {
                    color: $colorPrincipal;
                    font-weight: 600;
                }
            }
           
        }
    }
}