@import "../../App.scss";
@media (max-width: 900px) {

    .navbar {
        background-color: $blanco;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 0 0 30px 30px;

        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 5;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 16px 24px;
        }
        .sections__container {
            padding: 0 16px 16px 16px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .nav-link {
                width: 45%;
                color: rgba(0, 0, 0, 0.904);
                font-size: 20px;
                font-weight: 400;
                padding: 3px 10px 5px 10px;
                vertical-align: middle;
                border-radius: 7px;
                text-align: center;
            }
            .navLink-active {
                font-weight: 600;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .divider-nav {
                height: 41px;
                width: 1px;
                background: rgba(0, 0, 0, 0.247);
                display: block;
                unicode-bidi: -webkit-isolate;
                unicode-bidi: isolate;
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: auto;
                margin-inline-end: auto;
                overflow: auto;
                border-style: none;
                border-width: 0;
            }
            
        }
        .components__container {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding: 16px 8px 0 8px;
        }
    }
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $colorPrincipal;
    transition: width .3s;
}
.navLink-active::after {
    content: '';
    display: block;
    width: 102px;
    height: 2px;
    background: $colorPrincipal;
    transition: width .3s;
}


.nav-link:hover::after {
    width: 102px;
}