@import "../../App.scss";

@media (max-width: 900px) {


    .chakra-button {
        border: none;
        font-size: 21px;
        background: none;
        position: relative;
        left: 7em;
        bottom: 1.3em;

    }
    .chakra-collapse{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .css-wr6yvz{
            padding: 0;
            padding-bottom: 16px;
            margin: 0 8px 8px 8px;
            display: grid;
            grid-template-columns: repeat(2, 50%);

            .categorie_container {
                color: $colorPrincipal;
                font-size: 17px;
                font-weight: 400;
                display: flex;
                align-items: center;
                background: white;
                padding: 6px;
                margin: 8px;
                border-radius: 0 15px 15px 15px;

                img {
                    margin-right: 8px;
                    margin-left: 4px;
                    max-width: 32px;
                }
            }
        
        } 
    }
  

    .divider {
        height: 22px;
        width: 1px;
        background: rgba(0, 0, 0, 0.178);
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: auto;
        border-style: none;
        border-width: 0;
    }
}