@import "../../App.scss";

@media (max-width: 900px) {


    .chakra-button {
        border: none;
        font-size: 21px;
        background: none;
        position: relative;
        left: 7em;
        bottom: 1.1em;
    }
    .chakra-collapse{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .css-wr6yvz{
        padding: 0 0 17px 0!important;
        
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-row-gap: 12px;
        align-self: center;
        justify-content: center;
        text-align: center;
        .link10{
            grid-area: 4 / 2 / 5 / 3;
        }
        div {

            a {
                font-size: 17px;
                font-weight: 600;
                color: #ffffff;
                padding: 0px 6px 2px 6px;
                border-radius: 4px;
            }
        }
        
    } 
    }
  

    .divider {
        height: 22px;
        width: 1px;
        background: rgba(0, 0, 0, 0.178);
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: auto;
        border-style: none;
        border-width: 0;
    }
}