@import "../../App.scss";

@media (max-width: 900px) {
    .collapse-btn{
        position: fixed!important;
        top: 87%;
        left: 3%;
        border: none;
        background: $colorPrincipal;
        padding: 16px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.15);
        opacity: 0;
        transition: .4s;
        transform: translateX(-7em);
        img {
            width: 28px;
            position: relative;
            top: 2px;
        }
    }
    .active {
        transform: translateX(0);
        opacity: 1;
        transition: .4s;
    }
    .chakra-collapse{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .css-wr6yvz{
            padding: 0;
            padding-bottom: 16px;
            margin: 0 8px 0px 8px;
            display: grid;
            grid-template-columns: repeat(2, 50%);

            .categorie_container {
                color: $colorPrincipal;
                font-size: 17px;
                font-weight: 400;
                display: flex;
                align-items: center;
                background: white;
                padding: 6px;
                margin: 8px;
                border-radius: 0 15px 15px 15px;

                img {
                    margin-right: 8px;
                    margin-left: 4px;
                    max-width: 32px;
                }
            }
        } 
    }
  
    .divider {
        height: 22px;
        width: 1px;
        background: rgba(0, 0, 0, 0.178);
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: auto;
        border-style: none;
        border-width: 0;
    }

    .carousel-container {
        margin: 16px 0px 8px 0px;
        &:hover {
            overflow: hidden;
        }
        .carousel-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img-container {
                background: $blanco;
                padding: 8px;
                border-radius: 0 15px 15px 15px;
                
                img {
                    width: 64px;
                    height: 64px;
                }
            }
            
            p {
                font-size: 14px;
                font-weight: 500;
                margin-top: 8px;
                color: $colorPrincipal;
            }
        }
    }

    .categories-container {
        display: grid;
        grid-template-columns: repeat(5, 20%);
        margin: 0px 8px;
        .carousel-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 16px;
            .img-container {
                background: $blanco;
                padding: 8px;
                border-radius: 0 15px 15px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            p {
                font-size: 13px;
                font-weight: 400;
                margin-top: 8px;
                color: $colorPrincipal;
            }
        }
    }

    .rotate {
        transform: rotateZ(90deg);
        transition: .2s;
    }
    .close-category_container {
        position: absolute;
        width: 72px;
        top: 11em;
        display: flex;
        justify-content: flex-end;
    }
    .close-category {
        background-color: $colorPrincipal;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        display: none;
        .close-category_img {
           /*  max-width: 10px; */
        }
    }
   
    .active{
        display: flex;
        opacity: 1;
        transition: .2s;
    }
}